body{
    font-size: 13px;
    background-color: rgb(0, 0, 43);
}




.logo{
    float: left;
    margin-left:35px;
}

.fylo-nav{
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.nav{
    float: right;
    list-style: none;
    text-align: left;
    margin: 0;
    margin-right: 30px; 
}

.nav li {
    display: inline-block;
    padding: 0px 25px 7px 9px;
}

.nav li a {
    text-decoration: none; 
    color: black;
    font-size: 14px;
}


.nav li a:hover{
    color: purple;
}

.free-btn{
    border-radius: 5px;
    padding: 4px 26px;
    font-size: 13px;
    border: 1px solid #1affff;
    background-color: #1affff;
 }
 .free-btn:hover {
    opacity: 1;
}

 #move{
     margin-top: 6px;
 }

.ill-get{
    margin-top: 35px;
}

.get-started{
    float:left;
    margin-top: 120px;
    padding-left: 60px;
    text-align: center;
}

h1{
    font-size: 40px;
}

.ill-image{
    float: right;
    padding-right: 40px;
    margin-top: 20px;
}

.free-btnn{
    border-radius: 5px;
    padding: 8px 65px;
    margin-top: 15px;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid #1affff;
    background-color: #1affff;
 }

 .free-btn:hover {
     opacity: 1;
 }

 .fylo-plat{
    background: linear-gradient(to top left, blue 50%, white 50%);
 }

 h2{
     margin-top: 70px;
    font-size: 28px;
    text-align: center;
    color: rgb(3, 3, 94);
 }

 .all{
     margin-top: 80px;
 }

 h4{
     font-size: 23px;
     color: rgb(3, 3, 94);
 }

 p{
     margin-top: 15px;
     font-size: 12px;
  
 }

 .platform{
     padding-left: 60px;
    padding-bottom: 30px;
 }

 .ill-image{
    padding-left: 40px;
 }

 .security{
     margin-top: 40px;
 }


 .access{
     width: 42%;
     align-content: center;
     margin-top: 30px;
 }

 .access p {
     margin-top: 15px;
     color: rgb(3, 3, 114);
     font-size: 12px;
     font-weight: 600;
 }

 form input {
    padding: 4px 75px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 11px 3px rgba(216, 216, 216, 0.68);
    -moz-box-shadow: 1px 1px 11px 3px rgba(211, 211, 211, 0.68);
    box-shadow: 1px 1px 11px 3px rgba(209, 208, 208, 0.68);
 }

 .form-btn{ 
     margin-left: 30px;
     border-radius: 5px;
     padding: 4px 70px;
     font-size: 15px;
     border: 1px solid #1affff;
     background-color: #1affff;
     color: azure;
  }

  .form-btn:hover {
    opacity: 1;
}
  footer{
      margin-top: 90px;
      color: azure;
  }

  footer a {
      color: white;
      text-decoration: none;
  }

  .footer-col1{
      padding-left: 70px;
      color: azure;
      padding-top: 20px;
  }

 .foot{
     padding-top: 30px;
     padding-bottom: 25px;
 }

 .footer-col3{
width: 70%;
margin-left: 30px;
 }


 .form-btnn{
     margin-top: 10px;
   float: right;
    border-radius: 5px;
    padding: 4px 70px;
    font-size: 15px;
    border: 1px solid #1affff;
    background-color: #1affff;
    color: azure;
 }

 .form-btnn:hover {
    opacity: 1;
}

 .footer-col{
     width: 90%;
border-left: 1px solid white;
border-right: 1px solid white;
margin: 20px;
 }

.row-col3 {
    margin-left: 50px;
}
 

.row-col2 {
    margin-left: 30px;
}

.row-col1 {
    margin-left: 30px;
}